body {
	padding: 0 20px;
}

img {
	vertical-align: unset;
}

.row:after {
    border-bottom: 1px solid #dcdcdc;
    content: "";
    display: block;
    
		margin-left: 20%;
		margin-right: 20%;

		padding-bottom: 20px;
		margin-bottom: 30px;
}

.row:last-of-type:after {
	border: none;
}

.image-container {
	display: inline-block;
	position: relative;
}

.image-link {
	margin-left: 6px;
}

.image-error {
	display: none;
}

.image-google-link {
	position: absolute;
	top: 2px;
	right: 2px;
}